*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#038BFF,#0E91FF,#6DD0FF,#73D4FF);
}

.mainContainer{
  width: 75%;
}

@media only screen and (max-width: 650px) {
  .mainContainer{
    width: 100%;
  }
}
